In [2]:
print("Hello IT101B !")
print("I hope you are going to have fun")

Hello IT101B !
I hope you are going to have fun

In [3]:
print(2+2)

4

In [4]:
print("2+2")

2+2

In [6]:
print("2+2 = ",2+2)
print("2+3 = ",2+3)
print("2+4 = ",2+4)
print("2+5 = ",2+5)

2+2 =  4
2+3 =  5
2+4 =  6
2+5 =  7

In [11]:
x = 1.2

In [12]:
print(x)

1.2

In [13]:
type(x)

float

In [18]:
5%3

2

In [19]:
x = 1
y = x

In [20]:
y = 2

In [21]:
print(x)

1

In [22]:
1+2

3

In [23]:
3-2

1

In [24]:
3*2

6

In [30]:
print("hello")

hello

In [35]:
for x in [1,2,3,4,5,6,7,8,9]:
    print("7 *",x,"=",7*x)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63