In [1]:
print("Hello IT101B !")
print("I hope you are going to have fun")

Hello IT101B !
I hope you are going to have fun

In [2]:
print(2+2)

4

In [3]:
print("2+2")

2+2

In [4]:
print("2+2 = ",2+2)
print("2+3 = ",2+3)
print("2+4 = ",2+4)
print("2+5 = ",2+5)

2+2 =  4
2+3 =  5
2+4 =  6
2+5 =  7

In [5]:
x = 1.2

In [6]:
print(x)

1.2

In [7]:
type(x)

float

In [8]:
5%3

2

In [9]:
x = 1
y = x

In [10]:
y = 2

In [11]:
print(x)

1

In [12]:
1+2

3

In [13]:
3-2

1

In [14]:
3*2

6

In [15]:
print("hello")

hello

In [18]:
for x in [1,2,3,4,5,6,7,8,9]:
    print("7 *",x,"=",7*x)
print("***")

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
***

In [19]:
if 1>0:
    print("1>0")

1>0