In [1]:
myname = input("what is your name? ")

what is your name? Helmut

In [4]:
print("Hello " + myname)

Hello Helmut

In [5]:
for c in myname:
    print(c)

H
e
l
m
u
t

In [6]:
list(myname)

['H', 'e', 'l', 'm', 'u', 't']

In [8]:
myname[0]

'H'

In [11]:
myname[2:4]

'lm'

In [13]:
myname[:4]

'Helm'

In [14]:
myname[2:]

'lmut'

In [17]:
myname[:2]+myname[4:]

'Heut'

In [18]:
len(myname)

6

In [20]:
# negative indicies count from the end
myname[-2]

'u'

In [21]:
myname[:2]+myname[-2:]

'Heut'

In [22]:
def short_months(m):
    if m==1:
        return 'Jan'
    elif m==2:
        return 'Feb'
    # but this is getting boring quickly

In [23]:
def short_months(m):
    months = ['Jan','Feb','Mar','Apr']
    return months[m-1]

In [24]:
short_months(3)

'Mar'

In [25]:
months = "JanFebMarAprMayJunJulAugSepOctNovDec"

In [27]:
months[9:12]

'Apr'

In [28]:
months[3:6]

'Feb'

In [29]:
def short_months(m):
    months = "JanFebMarAprMayJunJulAugSepOctNovDec"
    return months[(m-1)*3:m*3]

In [30]:
short_months(6)

'Jun'

In [31]:
print(ord('A'))

65

In [32]:
def ctn(character):
    return ord(character)-65

In [33]:
ctn('B')

1

In [34]:
ctn('Z')

25

In [35]:
print(chr(65))

A